[submodule "gitmodules/mod-installer"]
	path = gitmodules/mod-installer
	url = https://github.com/HL2-Mods-Legacy-Project/poc-hl2-legacy-installer.git
	branch = v1.x
[submodule "gitmodules/utilities"]
	path = gitmodules/utilities
	url = https://github.com/HL2-Mods-Legacy-Project/poc-hl2-legacy-utilities.git
